.Front-End-Test---Home-view {
  /*width: 1440px;*/
  height: 1024px;
  padding: 0 0 98px;
  background-color: #fcfcfc;
}

.rectangle-2-Copy {
  /*width: 1440px;
  height: 114px;*/
  margin: 0 0 70px 0;
  padding: 44px 0 42px 150px;
  box-shadow: 0 1px 4px 0 rgba(0, 21, 41, 0.12);
  background-image: linear-gradient(to bottom, #ececec -32%, #fff 124%);
}

.top-buttons{
  width: 120px;
  height: 31px;
  border-radius: 2px;
  border: solid 1px #d6d6d6;
}
.top-buttons:active{
  width: 120px;
  height: 31px;
  padding: 3px 39px 0 40px;
  border-radius: 2px;
  border: solid 1px #1797ff;
}

.All {
  width: 19px;
  height: 28px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.75;
  letter-spacing: normal;
  text-align: center;
  color: #1797ff;
}

.My-faves {
  width: 65px;
  height: 28px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.75;
  letter-spacing: normal;
  text-align: center;
  color: #606060;
}

.in-line-buttons{
  display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

.dropdown-selector{
  width: 240px;
  border-radius: 4px;
  border: solid 1px #2e2e2e;
  background-color: #fff;
}

.first-container{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  margin-top: 5vh;
  margin-left: 150px;
}

.second-container{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin-left: 110px;
}

.option span{
  margin-left: 5px; 
  padding-bottom: 55px;
}


img.HACKER-NEWS {
  width: 208px;
  height: 28px;
  object-fit: contain;
  font-family: Baskerville;
  font-size: 28px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  color: #3b3b3b;
}

.rectangle {
  width: 550px;
  height: 90px;
  margin: 38px 150px 30px 40px;
  padding: 0 0 0 26px;
  opacity: 0.8;
  border-radius: 6px;
  border: solid 1px #979797;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
}

.small-rectangle{
  position: relative;
  width: 68px;
  height: 90px;
  /*opacity: 0.06;*/
  border-radius: 6px;
  border: solid 1px #606060;
  background-color: #606060;
}



.event-driven-state-m {
  width: 440px;
  height: 20px;
  margin: 6px 0 0;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: 0.25px;
  color: #6b6b6b;
}

.hours-ago-by-autho {
  width: 107px;
  height: 13px;
  margin: 2px 309px 7px 8px;
  font-family: Roboto;
  font-size: 11px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #767676;
}

.container-above{
  position: relative;
}